<h3 style="style=" margin-top: 100px;"">Inser Data</h3>
<form action="/data/adddata" method="POST">
    <div class="form-group">
        <label for="usr">Title:</label>
        <input type="text" class="form-control" id="usr" name="title">
    </div>
    <div class="form-group">
        <label for="usr">Email:</label>
        <input type="email" class="form-control" id="usr" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Link image:</label>
        <input type="text" class="form-control" id="pwd" name="image">
    </div>
    <input type="submit" value="Save">
</form>