<h3 style="style=" margin-top: 100px;"">Inser Data</h3>
<form action="/data/adddata" method="POST" >
<input type="hidden" name="id" value="{{data._id}}" />
    <div class="form-group">
        <label for="usr">Title:</label>
        <input type="text" class="form-control" id="namesp" name="namesp" value="{{data.namesp}}" required>
    </div>
    <div class="form-group">
        <label for="usr">Giá:</label>
        <input type="text" class="form-control" id="gia" name="gia" value="{{data.gia}}" required>
    </div>
    <div class="form-group">
        <label for="pwd">số lượng:</label>
        <input type="text" class="form-control" id="soluong" name="soluong" value="{{data.soluong}}" required>
    </div>
    <input type="submit" value="Save">
</form>