<form action="/data/capnhat/{{user._id}}?_method=PUT" method="POST" autocomplete="off">

<div class="form-group">
        <label for="namesp">Title:</label>
        <input type="namesp" class="form-control" id="namesp" name="namesp" value="{{user.namesp}}" required>
    </div>
    <div class="form-group">
        <label for="gia">gia:</label>
        <input type="gia" class="form-control" id="gia" name="gia" value="{{user.gia}}" required>
    </div>
    <div class="form-group">
        <label for="soluong">Link soluong:</label>
        <input type="soluong" class="form-control" id="soluong" name="soluong" value="{{user.soluong}}" required>
    </div>
    <input type="submit" value="Save">

</form>
 
